<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30" packages="">
    <Properties>
        <Property name="LOG_PATTERN">
          %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="FILE" fileName="./logs/restapi-${date:dd-MM-yy}.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>        
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>